*{
    margin: 0;
    padding: 0;
    color: #eeeeee;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d464d;
  }
  nav{
    background-color: #3d464d;
  }
  
  li {
    float: left;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: #f9d238;
  }

  .cate{
    padding-right: 150px;
    text-align: left;
    background-color: #f9d238;
    color: black;
  }
.lastIcon{
    float: right;
}
.cartIcons{
  color: #eeeeee;
}
.FirstEle{
  color: #67520a;
}